* {
    box-sizing: border-box;
  }
  
body{
    width:max-content;
    background-image: url('https://image.ibb.co/cO9Lxq/login-bg.jpg');
    margin: 0;
    padding:0;

}
.wrapper {
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
}

.logo{
    margin-bottom: 50px;
}
label{
    padding-top: 30px;
    color: white;
    display: block;
}
.text-input{
    width: 400px;
    height: 30px;
    background-color: black;
    border: 1px solid white;
    margin-top: 5px;
}
.primaty-btn{
    width: 400px;
    background-color:rgb(5, 143, 255);
    margin-top: 20px;
    margin-bottom: 50px;
    height: 35px;
    color: white;
}
.links{
    display: grid;
    text-align: center;
    margin-bottom: 25px;
}
.links a{
    text-decoration: none;
    color: rgb(5, 143, 255);
}
.secundary-btn{
    margin-top: 15px;
    width: 400px;
    height: 30px;
    background-color: rgb(156, 152, 149);
}

.secundary-btn > a {
    color: white;
    text-decoration: none;
    border: none;
}
#main-footer {
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 12px;
}

#main-footer div a {
    color: white;
    text-decoration: none;
    margin-left: 7px;
}


.showcase-text {
    color: white;
}
#showcase{
    position: absolute;
  left: 55%;
  top: 45%;
}

.secundary-btn {
    margin-top: 15px;
    width: 400px;
    height: 30px;
    background-color: rgb(156, 152, 149);
}
